.div {
    display: flex;
    flex-direction: column;

    padding: 0px 25px 20px 25px;

    gap: 20px;
    h3 {
        font-size: 1.2rem;
        font-weight: bold;

        color: var(--paragraph-color);

        margin-bottom: 5px;
    }

    p {
        line-height: 140%;
        color: var(--paragraph-color);

        font-size: 0.9rem;
    }


}

@media (min-width: 431px) and (max-width: 768px) {

    .div {

        padding-left: clamp(1.563rem, -2.413rem + 14.793vw, 4.688rem);
        padding-right: clamp(1.563rem, -2.413rem + 14.793vw, 4.688rem);

        h3{
            font-size: clamp(1.2rem, 0.946rem + 0.947vw, 1.4rem);
        }

        p {
            font-size: clamp(0.9rem, 0.773rem + 0.473vw, 1rem);
            text-align: justify;
        }
    }
}

@media (min-width: 769px) {

    .div {
        max-width: 1024px;
        margin-inline: auto;

        h3 {
            font-size: clamp(1.4rem, 1.098rem + 0.627vw, 1.5rem);
        }

        p {
            font-size: clamp(1rem, 0.698rem + 0.627vw, 1.1rem);
            text-align: justify;
        }
    }
}