@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    
    --color-primary: rgb(15, 23, 42);
    --color-primary-transparent: rgb(15, 23, 42);

    --title-1-color: #F5F5F5;

    --paragraph-color: rgb(206, 206, 206);

    --button-color:  #2b31d460;
    --button-font-color: #8ec8ff;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-primary-transparent);
    background-image: url("../assets/5667001.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}